{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "forOf": false,
      "impliedStrict": true,
      "es6": true
    }
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "strict": 0,
    "no-param-reassign": 0
  }
}
